
#name,#template{
  margin-bottom: 0rem;
  margin-top: 0rem;
  
}
#main{
  display: flex;
  
}
#App{
  width: 1196px;
  height: 730px;
  background-image: url('./backimggdg.png');
  background-blend-mode:color-dodge;
  background-size:cover;
  border: 6px solid;
  color: aliceblue;
  
}
body{
  background-color: rgb(238, 161, 245);
}
#navbar{
  /* background-image:linear-gradient(to right,rgb(36, 162, 247) 0%,rgb(221, 40, 191) 100%); */
  background-image:linear-gradient(to right,rgb(9, 52, 109) ,rgb(125, 184, 211) );
  height: 4rem;
  text-align: center;
  display: table-cell;
  width:1474px;
 vertical-align: middle;
 color: honeydew;
 font-size: 1.5rem;
 
}
#image_input{
margin-top: 100px;
margin-left: 320px;
font-size: 1.2rem;
font-family: 'Times New Roman', Times, serif;


}
#guide{
  margin-top: 120px;
margin-left: 100px;
font-size: 1.1rem;

}
.red{
  color: rgb(255, 255, 255);

  font-size: 1.2rem;
}
/* form{
display: flex;
} */
#capture img{
  width: 1196px;
  height: 730px;
 
}
 #side-panel{
  background-image: linear-gradient(rgb(34, 38, 97),rgb(112, 145, 184));
  
  color: aliceblue;
  width: 240px;
height: 100vh;
top: 0px;
position: fixed;
right: 0;
box-shadow: 0px 0px 20px #264349;

  transition: visibility 0s, opacity 0.8s linear; 
 transition: all 0.8s ease-in-out ; 
padding-left: 0.6rem;
transform: translate3d(202.5px,0,0); 

 } 
 
 
 #side-panel img{
   margin-right: 0.8rem;
 } 

  

#controls{
  background-image: linear-gradient(rgb(17, 199, 245),rgb(252, 106, 232));
  overflow: hidden;
 box-shadow: 0px 0px 20px #1c2f42;
 margin-left: 1rem;
 width: 250px;
  /* margin: auto; */
 text-align: center;
 font-family: 'Playfair Display', serif;
 color: snow;
}
#controls button{
 font-size: 1.2rem;
 box-shadow: 0px 0px 20px #912525;
 padding-left: 1rem;
 padding-right: 1rem;
 font-family: 'Playfair Display', serif;
}
#csvlabel{
  font-size: 1.4rem;
}
#email,#password{
  font-size: 1.1rem;
}
#upcsv{
  margin-left: 1.4rem;
  font-size: 1rem;
}
#entertesttext{
  font-size: 1.1rem;
  border: 3px solid;
  border-color: rgb(252, 255, 255);
}
#side-panel button{
  font-size: 1.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.8rem;
  font-family: 'Playfair Display', serif;
}
#colors{
  width: 6rem;
  height:2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
#fontselect{
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
  
}