
#name,#template{
  margin-bottom: 0rem;
  margin-top: 0rem;
  
}
#main{
  display: flex;
  
}

#template{
  max-height: 100%;
/* max-width: 100%; */
}
html{
  height:100%;
}
body{
  height: 100%;
}
#App{
  
  /* width: 1157px; */
  /* max-width:1157px ; */
  width:76%;
  /* height: fit-content; */
  height: 658px;
  /* height: auto; */
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;

  
  background-blend-mode:color-dodge;
  background-image: url(programmer4.png);
  background-size:cover;
  border: 6px solid;
  border-color: darkorange;
 
 
  
}

.steps{
  /* width:249px; */
  height:150px;
  box-shadow: 5px 5px 5px #1c2f42;
  margin-top:0.75rem ;
  border-radius: 1rem;
  margin-bottom: 1.3rem;

}
#step1:hover{
  background-image: linear-gradient(rgb(11, 125, 143),rgb(95, 7, 112));
  transform: skewY(7deg);
}
#step2:hover{
  
  background-image: linear-gradient(rgb(173, 241, 252),rgb(215, 141, 250));
  transform: skewY(7deg);
 
  /* transform: skewY(-20deg); */
}
#step3:hover{
  background-image: linear-gradient(rgb(27, 212, 188),rgb(114, 119, 196));
  transform: skewY(7deg);
  
}
#step4:hover{
  background-image: linear-gradient(rgb(8, 157, 180),rgb(25, 27, 150));
  transform: skewY(7deg);
}
#step1{
  /* background-image: linear-gradient(rgb(81, 201, 231),rgb(218, 68, 231)) */
  /* background-image: linear-gradient(rgb(189, 13, 13),rgb(218, 9, 9)) */
  background-color:rgb(10, 73, 82) ;
}
#step2{
  /* background-image: linear-gradient(rgb(245, 201, 6),rgb(236, 204, 22)) */
  /* background-color:rgb(140, 216, 228) ; */
  background-color:rgb(16, 199, 212) ;
}
#step3{
  /* background-image: linear-gradient(rgb(17, 172, 82),rgb(43, 151, 52)) */
  background-color:rgb(30, 160, 143) ;
}
#step4{
  /* background-image: linear-gradient(rgb(29, 104, 190),rgb(47, 126, 216)) */
  background-color:rgb(8, 137, 156) ;
}

#navbar{
/* border-radius: 1rem; */
  height: 4rem;
  text-align: center;
  display: table-cell;
  /* width:1483px; */
  width:1499px;
 vertical-align: middle;
 background-color: rgb(241, 202, 157);
 color: rgb(163, 75, 2);
 font-size: 1.8rem;
 text-decoration: double;
 font-family: 'Times New Roman', Times, serif;
 
 
}
#image_input{
margin-top: 100px;
margin-left: 320px;
font-size: 1.2rem;
font-family: 'Times New Roman', Times, serif;


}
#guide{
  margin-top: 120px;
margin-left: 100px;
font-size: 1.1rem;

}
.red{
  color: rgb(255, 255, 255);

  font-size: 1.2rem;
}
/* form{
display: flex;
} */
#capture img{
  width: 100%;
  /* height: 659px; */
  height: auto;
  
 
}
 #side-panel{
  /* background-image: linear-gradient(rgb(122, 118, 118),rgb(192, 81, 192),rgb(116, 117, 117)); */
  background-color: rgb(235, 153, 1);
  color: aliceblue;
  width: 240px;
  padding-left: 0.6rem;
height: 100vh;
top: 0px;
position: fixed;
border-radius: 0.8rem;
right: 0;
/* box-shadow: 0px 0px 20px #264349; */
/* background-image: url(yellowglitter.jpg); */
/* background-image: linear-gradient(rgb(223, 6, 107),rgb(223, 81, 180)); */
  transition: visibility 0s, opacity 0.8s linear; 
 transition: all 0.8s ease-in-out ; 
/* padding-left: 0.6rem; */
transform: translate3d(202.5px,0,0); 


 } 
 #side-panel:hover{
  
  animation:changecolor 5s linear;
  
 }
 @keyframes changecolor{
  0%{
     background-image: linear-gradient(rgb(235, 153, 1))
  }
  20%{
    background-color: firebrick;
  }
  40%{
      background-color: #eb0ea8;
  }
  60%{
      background-color: rgb(158, 19, 223);
  }
  80%{
background-color: rgb(88, 88, 199);
  }
  100%{
    background-color: rgb(235, 153, 1);
  }
}
 
 #side-panel img{
   margin-right: 0.8rem;
 } 

  

#controls{
  /* background-image: linear-gradient(rgb(136, 137, 138),rgb(197, 89, 201)); */
  /* overflow: hidden; */
  /* rgb(218, 3, 189) */
 /* margin-left: 1rem; */
 /* width: 266px; */
 width: 17%;
 /* border-radius: 0.5rem; */
  /* margin: auto; */
 text-align: center;
 font-family: 'Playfair Display', serif;
 /* background-color: rgb(69, 111, 114); */
 padding-left: 7px;
  padding-right: 7px;
  /* margin-right: 3.8rem; */
  position: fixed;
  right: 54px;
 color: snow;
}
#controls button{
 font-size: 1.2rem;
 /* box-shadow: 0px 0px 20px #912525; */
 padding-left: 1rem;
 width: 85%;
 padding-right: 1rem;
 font-family: 'Playfair Display', serif;
 background-image: linear-gradient(rgb(255, 255, 255),rgb(166, 240, 236));
}
#controls input{
  width: 85%;
}
#csvlabel{
  font-size: 1.4rem;
}
#email,#password{
  font-size: 1.1rem;
}
#upcsv{
  margin-left: 1.4rem;
  font-size: 1rem;
}
#entertesttext{
  font-size: 1.1rem;
  border: 3px solid;
  border-color: rgb(252, 255, 255);
}
#side-panel button{
  font-size: 1.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.8rem;
  font-family: 'Playfair Display', serif;
}
#colors{
  width: 6rem;
  height:2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
#fontselect{
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
  
}